<%@ Control Language="VB" AutoEventWireup="false" CodeFile="MatComputacional.ascx.vb" Inherits="DotNetNuke.Modules.Cursos.MatComputacional" %>
<link href="//fonts.googleapis.com/css?family=Muli|Mulish|Montserrat|DM+Sans&display=swap" rel="stylesheet">
<div id="Actividad_Warp"></div>
<!--<script type="text/javascript">-->
<!--	var plantilla = "<%= plantilla %>";-->
<!--    var EdadAlumno = <%= EdadAlumno %>;-->
<!--    var IDCurricula = <%= IDCurricula %>;-->
<!--    var TipoLectura = "<%= TipoLectura %>";-->
<!--</script>-->
 <script type="text/javascript">
 	 var plantilla = "<%= plantilla %>";
     var elementos_palabras = <%= elementos_palabras %>;
     var EdadAlumno = <%= EdadAlumno %>;
     var IDCurricula = <%= IDCurricula %>;
     var TipoLectura = "<%= TipoLectura %>";
 </script>
<$= htmlWebpackPlugin.tags.headTags $>
